/*!
 * ================================================================================
 * Skate
 * ???
 * --------------------------------------------------------------------------------
 * Author:      Andrew Hosgood
 * Version:     1.0.0
 * Date:        2015-03-17
 * ================================================================================
 */
/* ===================================================== SLIDING BANNERS ===================================================== */
.banner-slider {
  margin-bottom: 20px;
  position: relative; }
  .banner-slider .banner-slider-inner {
    position: relative;
    overflow: hidden;
    z-index: 1; }
    .banner-slider .banner-slider-inner .banner-slider-contents {
      width: 100%;
      position: relative;
      overflow: visible;
      white-space: nowrap;
      /*-webkit-transition: -webkit-transform 1200ms ease;
      -moz-transition: -moz-transform 1200ms ease;
      -ms-transition: -ms-transform 1200ms ease;
      -o-transition: -o-transform 1200ms ease;
      transition: transform 1200ms ease;*/ }
      .banner-slider .banner-slider-inner .banner-slider-contents > * {
        max-width: 100% !important;
        width: 100%;
        height: 100%;
        margin: 0;
        display: inline-block;
        position: relative;
        vertical-align: middle; }
        .banner-slider .banner-slider-inner .banner-slider-contents > * img {
          max-width: 100% !important;
          width: 100%;
          margin-bottom: 0; }
      .banner-slider .banner-slider-inner .banner-slider-contents > img {
        height: auto; }
      .banner-slider .banner-slider-inner .banner-slider-contents .image-text {
        background: none; }
  .banner-slider .banner-slider-arrows,
  .banner-slider .banner-slider-blobs {
    margin: 0;
    padding: 0;
    position: relative;
    overflow: visible;
    list-style: none;
    border: none;
    z-index: 2; }
    .banner-slider .banner-slider-arrows li,
    .banner-slider .banner-slider-blobs li {
      padding-left: 0;
      display: block;
      border: none;
      cursor: pointer; }
      .banner-slider .banner-slider-arrows li::before,
      .banner-slider .banner-slider-blobs li::before {
        display: none; }
  .banner-slider .banner-slider-arrows {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0; }
    .banner-slider .banner-slider-arrows .previous,
    .banner-slider .banner-slider-arrows .next {
      width: 50px;
      height: 80px;
      margin-top: -40px;
      position: absolute;
      top: 50%;
      font-size: 75px;
      line-height: 80px;
      text-align: center; }
      .banner-slider .banner-slider-arrows .previous:active,
      .banner-slider .banner-slider-arrows .next:active {
        margin-top: -39px; }
    .banner-slider .banner-slider-arrows .previous {
      left: 0;
      border-radius: 0 3px 3px 0; }
    .banner-slider .banner-slider-arrows .next {
      right: 0;
      border-radius: 3px 0 0 3px; }
    .banner-slider .banner-slider-arrows.outside .previous {
      right: 100%;
      left: auto;
      border-radius: 3px 0 0 3px; }
    .banner-slider .banner-slider-arrows.outside .next {
      right: auto;
      left: 100%;
      border-radius: 0 3px 3px 0; }
  .banner-slider .banner-slider-blobs {
    position: absolute;
    right: 20px;
    bottom: 20px;
    list-style: none;
    border: none; }
    .banner-slider .banner-slider-blobs li {
      width: 12px;
      height: 12px;
      padding: 0;
      float: left;
      background-color: rgba(255, 255, 255, 0.25);
      border: 1px #FFF solid;
      border-radius: 100%;
      box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.25); }
      .banner-slider .banner-slider-blobs li::before {
        display: none; }
      .banner-slider .banner-slider-blobs li:hover {
        background-color: rgba(255, 255, 255, 0.35); }
      .banner-slider .banner-slider-blobs li.current {
        background-color: #FFF; }
      .banner-slider .banner-slider-blobs li + li {
        margin-left: 6px; }

a.image-text-wrapper::before, a.image-text-wrapper::after,
.banner-slider .banner-slider-inner .banner-slider-contents > a::before,
.banner-slider .banner-slider-inner .banner-slider-contents > a::after {
  display: block;
  position: absolute; }
a.image-text-wrapper::before,
.banner-slider .banner-slider-inner .banner-slider-contents > a::before {
  width: 0;
  height: 0;
  margin-bottom: -70px;
  bottom: 0;
  left: 0;
  border: 35px transparent solid;
  border-color: transparent transparent #FFF #FFF;
  content: "";
  z-index: 2;
  -webkit-transition: margin 400ms 400ms ease;
  -moz-transition: margin 400ms 400ms ease;
  -ms-transition: margin 400ms 400ms ease;
  -o-transition: margin 400ms 400ms ease;
  transition: margin 400ms 400ms ease; }
a.image-text-wrapper::after,
.banner-slider .banner-slider-inner .banner-slider-contents > a::after {
  width: 1em;
  height: 1em;
  bottom: 0.125em;
  left: 0.125em;
  font-family: FontAwesome;
  font-size: 2em;
  text-align: center;
  line-height: 1;
  content: "\f06e";
  opacity: 0;
  z-index: 3;
  -webkit-transition: opacity 400ms ease;
  -moz-transition: opacity 400ms ease;
  -ms-transition: opacity 400ms ease;
  -o-transition: opacity 400ms ease;
  transition: opacity 400ms ease; }
a.image-text-wrapper:hover::before,
.banner-slider .banner-slider-inner .banner-slider-contents > a:hover::before {
  margin-bottom: 0;
  -webkit-transition: margin 200ms ease;
  -moz-transition: margin 200ms ease;
  -ms-transition: margin 200ms ease;
  -o-transition: margin 200ms ease;
  transition: margin 200ms ease; }
a.image-text-wrapper:hover::after,
.banner-slider .banner-slider-inner .banner-slider-contents > a:hover::after {
  opacity: 1;
  -webkit-transition: opacity 200ms ease;
  -moz-transition: opacity 200ms ease;
  -ms-transition: opacity 200ms ease;
  -o-transition: opacity 200ms ease;
  transition: opacity 200ms ease; }

/*# sourceMappingURL=skate.css.map */
