<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Administrador</title>

    <!-- CDN das depedências externas -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css" integrity="sha512-HK5fgLBL+xu6dm/Ii3z4xhlSUyZgTT9tuc/hSrtw6uzJOvgRr2a9jyxxT1ely+B+xFAmJKVSTbpM/CuL7qxO8w==" crossorigin="anonymous" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Poppins">


    <!-- Rodar no Eclipse -->
    <link rel="stylesheet" href="css/GlobalComponents.css">
    <link rel="stylesheet" href="css/Menu.css">
    <link rel="stylesheet" href="css/TopBar.css">
    <link rel="stylesheet" href="css/AdminPage.css">
    <link rel="stylesheet" href="css/BeautyButton.css">
    <link rel="stylesheet" href="css/BeautyInput.css">
    <link rel="stylesheet" href="css/BeautySelect.css">
    <link rel="stylesheet" href="css/Biblioteca.css">
    <link rel="stylesheet" href="css/BeautyTable.css">
    <link rel="stylesheet" href="css/Footer.css">

    <script src="js/Utils/ServerRequester.js"></script>

    <script src="js/Componentes/BeautySelect.js"></script>
    <script src="js/Componentes/BeautyButton.js"></script>
    <script src="js/Componentes/BeautyInput.js"></script>
    <script src="js/Componentes/BeautyTable.js"></script>
    <script src="js/Componentes/Menu.js"></script>
    <script defer src="js/Paginas/AdminPage.js"></script>
    <script src="js/Componentes/TopBar.js"></script>
    <script src="js/Componentes/Footer.js"></script>

    <script src="js/Entidades/Usuario.js"></script>
    <script src="js/Entidades/Biblioteca.js"></script>

</head>
<body>
    <top-bar></top-bar>
    <menu-rgba></menu-rgba>

    <!-- Onde o conteúdo é mostrado -->
    <div id="optionContentDisplayer">
        <!-- Default -->
        <div class="show" id="defaultContent">
            <div class="defaultContent">
                <h1>Bem-vindo a página de administração da SkillShare</h1>
                <p>
                    Utilize o menu na barra no topo para acessar aos diversos conteúdos
                </p>
            </div>
        </div>

        <!-- Biblioteca -->
        <div class="hide" id="biblioteca">
            <div class="adicionarConteudoBiblioteca">
                <h1>Adicionar novo conteúdo à biblioteca</h1>
                <p>
                    A biblioteca da SkillShare é um local onde ficam postados arquivos PDFs no qual os alunos tem acesso a este</br>
                    material, dessa forma podem incrementar ainda mais seus conhecimentos
                </p>
    
                <div class="separador"></div>
            </div>
            <div class="bibliotecaForm">
                <div>
                    <label style="width: 145px;">Nome do livro:</label>
                    <input type="text">
                </div>
                <div>
                    <label>Autor:</label>
                    <input type="text">
                </div>

                <select id="selectCursoParaLivro">
                    <option selected disabled>Escolha um curso do tema do livro...</option>
                    <option value="nenhum">Não específico</option>
                </select>

                <label>Caso o tema do livro não seja específico de um curso, escolha “Não específico”</label>

                <div class="inputFile">
                    <label for="inputUploadLivro" class="inputUploadButton">Escolher arquivo...</label>
                    <input type="file" id="inputUploadLivro" onchange="setInputLabelName(event)">
                    <label id="labelFileName">Selecione um arquivo</label>
                </div>


                <div class="buttonContainer">
                    <button class="greenButton">Adicionar</button>
                    <button class="redButton">Limpar campos</button>
                </div>
            </div>
        </div>

        <div class="hide" id="gerirBiblioteca">
            <div>
                <h1>Gerir biblioteca</h1>
                <p>
                    Escolha um material para editar suas informações, visualizar o conteúdo ou excluir
                </p>
    
                <div class="separador"></div>

                <div id="booksToShow">

                </div>
            </div>
        </div>


        <!-- Usuários -->
        <!-- Registrar usuário -->
        <div id="cadastrarUsuario" class="vBox hide">
            <h1>Cadastro de usuários</h1>
            <p>
                Escolha um tipo de usuário para visualizar seus</br>
                campos de informações e realizar o cadastro
            </p>

            <select id="selectUserType" onchange="setUserType()">
                <option selected disabled>Escolha um perfil de usuário para cadastrar...</option>
                <option value="aluno">Aluno</option>
                <option value="administrador">Administrador</option>
                <option value="gestor">Gestor</option>
                <option value="tutor">Tutor</option>
            </select>

            <form onsubmit="registerUser(event)" class="cadastrarUsuario" id="cadastrarUsuario">
                <h2>Cadastrar usuário</h2>
                <p>
                    Preencha os campos para cadastrar o usuário
                </p>

                <div class="camposCadastro">
                    <div>
                        <div>
                            <label for="nomeCadastro"><b>Nome</b></label>
                            <input type="text" name="nome" id="nomeCadastro" required>
                        </div>

                        <div>
                            <label for="emailCadastro"><b>E-mail</b></label>
                            <input type="text" name="email" id="emailCadastro" required>
                        </div>

                        <div>
                            <label for="cpfCadastro"><b>CPF</b></label>
                            <input type="text" name="cpf" id="cpfCadastro" required>
                        </div>
                    </div>
                    <div>
                        <div>
                            <label for="senhaCadastro"><b>Senha</b></label>
                            <input type="password" name="senha" id="senhaCadastro" required>
                        </div>
                        <div>
                            <label for="confirmarSenhaCadastro"><b>Confirmar senha</b></label>
                            <input type="password" name="confirmarSenha" id="confirmarSenhaCadastro" required>
                        </div>
                    </div>
                </div>

                <div>
                    <input type="submit" class="greenButton" value="Cadastrar">
                    <input type="reset" class="redButton" value="Limpar campos">
                </div>
            </form>
        </div>

        <!-- Gerir usuários -->
        <div id="mostrarAlunos" class="vBox hide">
            <h1>Gerir usuários</h1>
            <p style="text-align: center;">
                Escolha um tipo de usuário para visualizar seus dados e gerir aqueles</br>
                que estão em nosso banco de dados
            </p>

            <select id="userTypeEdit" onchange="chooseUserToShow()">
                <option selected disabled>Escolha um perfil de usuário para exibir...</option>
                <option value="Aluno">Aluno</option>
                <option value="Administrador">Administrador</option>
                <option value="Gestor">Gestor</option>
                <option value="Tutor">Tutor</option>
            </select>

            <div class="separador"></div>

            <div id="usersToShow">

            </div>
        </div>

    </div>
    
    <footer-rgba></footer-rgba>

</body>
</html>