<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Administrador</title>

    <!-- CDN das depedências externas -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css" integrity="sha512-HK5fgLBL+xu6dm/Ii3z4xhlSUyZgTT9tuc/hSrtw6uzJOvgRr2a9jyxxT1ely+B+xFAmJKVSTbpM/CuL7qxO8w==" crossorigin="anonymous" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Poppins">

    <!-- CSS -->
    <link rel="stylesheet" href="../static/css/GlobalComponents.css">
    <link rel="stylesheet" href="../static/css/TopBar.css">
    <link rel="stylesheet" href="../static/css/SideBar.css">
    <link rel="stylesheet" href="../static/css/AdminPage.css">
    <link rel="stylesheet" href="../static/css/BeautyButton.css">
    <link rel="stylesheet" href="../static/css/BeautyInput.css">
    <link rel="stylesheet" href="../static/css/BeautySelect.css">
    <link rel="stylesheet" href="../static/css/Biblioteca.css">
    <link rel="stylesheet" href="../static/css/BeautyTable.css">

    <!-- JavaScript -->
    <script src="../static/js/Componentes/BeautySelect.js"></script>
    <script src="../static/js/Componentes/BeautyButton.js"></script>
    <script src="../static/js/Componentes/BeautyInput.js"></script>
    <script src="../static/js/Componentes/BeautyTable.js"></script>
    <script src="../static/js/Componentes/TopBar.js"></script>
    <script src="../static/js/Componentes/SideBar.js"></script>
    <script src="../static/js/Paginas/AdminPage.js"></script>

</head>
<body>
    <top-bar></top-bar>
    <side-bar></side-bar>
    <script>
        function teste(event){
            event.preventDefault();
            console.log("funfando");
        }
    </script>

    <!-- Onde o conteúdo é mostrado -->
    <div id="optionContentDisplayer">

        <!-- Biblioteca -->
        <div class="hide" id="biblioteca">
            <form onsubmit="teste(event)" class="vBox bottomSeparator maxWidth" >
                <h3>Cadastrar novo livro</h3>
                <label for="nome"></label>
                <input type="text" class="inputFormulario" placeholder="Insira o nome" maxlength="40" name="nome">
                <input type="text" class="inputFormulario" placeholder="Insira os gêneros" maxlength="150" name="nome">
                <input type="text" class="inputFormulario" placeholder="Insira o número de páginas" maxlength="4" name="nome">
                <input type="text" class="inputFormulario" placeholder="Insira o autor" maxlength="40" name="50">
                <input type="text" class="inputFormulario" placeholder="Insira a editora" maxlength="40" name="nome">
                <button type="submit" id="botaoCadastrar">Cadastrar</button>
            </form>
            <beauty-table id="aa" tableTitle="Minha tabelita"></beauty-table>
        </div>


        <!-- Registrar usuário -->
        <form onsubmit="registerUser(event)" class="vBox hide" id="cadastrarUsuario">
            <h2 class="headerText">Cadastrar novo aluno</h1>
            <beauty-input type="text" placeholder="Nome" required="true" icon="user" name="nome" id="nome"></beauty-input>
            <beauty-input type="text" placeholder="CPF" required="true" icon="id-card" name="cpf" id="cpf"></beauty-input>
            <beauty-select name="genero" id="genero" options="Escolha o gênero,Feminino,Masculino"></beauty-select>
            <beauty-input type="email" placeholder="E-mail" required="true" icon="envelope" name="email" id="email"></beauty-input>
            <beauty-input type="password" placeholder="Senha" required="true" icon="key" name="senha" id="senha"></beauty-input>
            <beauty-input type="password" placeholder="Confirme a senha" required="true" icon="key" name="cSenha" id="cSenha"></beauty-input>
            <beauty-button text="Cadastrar"></beauty-button>
        </form>

    </div>

</body>
</html>