<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div style="border: 1px solid black; width: 600px; height: 600px;">
        <h1>Catálogo de cursos</h1>
        <div style="border: 1px solid black; border-radius: 5px; min-height: 500px; margin: 15px;">
            <div style="float: left; border: 1px solid gray; height: 150px; width: 35%; margin: 10px;">
                <div style="border-bottom: 1px solid black; height: 100px">
                    fotinha do curso
                </div>
                <div>
                    <p>titulo do curso</p>
                </div>
            </div>
            <div style="float: left; border: 1px solid gray; height: 150px; width: 35%; margin: 10px;">
                <div style="border-bottom: 1px solid black; height: 100px">
                    fotinha do curso
                </div>
                <div>
                    <p>titulo do curso</p>
                </div>
            </div>
        </div>
        <!-- <div>logo</div>
        <ul>
            <li>Cursos</li>
            <ul>
                <li>Opção 1</li>
                <li>Opção 2</li>
                <li>Opção 3</li>
            </ul>
            <li>Opção 2</li>
            <li>Biblioteca</li>
            <li>Banco de questões</li>
            <li>Usuários</li>
            <li>Dashboard</li>
            <li>Minha conta</li>
        </ul> -->
    </div>
    <footer-rgba>
        <script src="https://unpkg.com/blip-chat-widget" type="text/javascript"></script>
        <script src="js/ChatBot/chatbot.js"></script>
    </footer-rgba>
</body>
</html>