<!DOCTYPE html>
<html lang="pt-br">
    <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Login</title>
    <link rel="stylesheet" href="css/style.css">
    </head>


    <body>
        
        <form class="formulario-login" action="#">
            <div class="login">
                <div class="topo">
                    <h2 class="title">Entrar na conta</h2>
                    <p>Insira seu e-mail e senha para acessar</p>
                </div>
                

                <div class="credenciais">
                    <input type="email" name="email" placeholder="Digite seu e-mail" required>
                </div>

                <div class="credenciais">
                    <input type="password" name="senha "placeholder="Digite sua senha" required>
                </div>

                <div class="credenciais">
                    <label><input type="checkbox">Lembre-me</label>
                </div>
                <div class="credenciais btn">
                    <button type="submit">Acessar</button>
                </div>
            </div>  
        </form>
        
    </body>

</html>