<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Detalhes do Curso | SkillShare</title>

    <!-- CDN das depedências externas -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css"
        integrity="sha512-HK5fgLBL+xu6dm/Ii3z4xhlSUyZgTT9tuc/hSrtw6uzJOvgRr2a9jyxxT1ely+B+xFAmJKVSTbpM/CuL7qxO8w=="
        crossorigin="anonymous" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Poppins">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>


    <!-- Rodar no Eclipse -->
    <link rel="stylesheet" href="css/GlobalComponents.css">
    <link rel="stylesheet" href="css/Menu.css">
    <link rel="stylesheet" href="css/TopBar.css">
    <link rel="stylesheet" href="css/AdminPage.css">
    <link rel="stylesheet" href="css/BeautyButton.css">
    <link rel="stylesheet" href="css/BeautyInput.css">
    <link rel="stylesheet" href="css/BeautySelect.css">
    <link rel="stylesheet" href="css/BeautyTable.css">
    <link rel="stylesheet" href="css/Footer.css">
    <link rel="stylesheet" href="css/detalhesCurso.css">

    <script src="js/Utils/renderIMG.js"></script>
    <script src="js/Utils/ServerRequester.js"></script>
    <script src="js/Utils/sendFile.js"></script>

    <script src="js/Componentes/BeautySelect.js"></script>
    <script src="js/Componentes/BeautyButton.js"></script>
    <script src="js/Componentes/BeautyInput.js"></script>
    <script src="js/Componentes/BeautyTable.js"></script>
    <script src="js/Componentes/Menu.js"></script>
    <script src="js/Componentes/TopBar.js"></script>
    <script src="js/Componentes/Footer.js"></script>

    <script src="js/Entidades/Usuario.js"></script>
    <script src="js/Entidades/Biblioteca.js"></script>
    <script src="js/Entidades/Destaque.js"></script>
    <script src="js/Entidades/Pilula.js"></script>
    <script src="js/Entidades/Evento.js"></script>
    <script src="js/Entidades/Log.js"></script>

    <script defer src="js/Scorm/auth.js"></script>
    <script defer src="js/Scorm/getLinkCurso.js"></script>
    <script defer src="js/Scorm/getImportStatus.js"></script>
    <script defer src="js/Scorm/getProgressoAluno.js"></script>
    <script defer src="js/Scorm/uploadScorm.js"></script>

    <script defer src="js/Paginas/detalhesCurso.js"></script>

</head>
</head>

<body>
    <top-bar></top-bar>
    <menu-rgba></menu-rgba>

    <div id="detalhesCurso" class="">
        <p id="titleCurso" class="titleCurso"></p>
        <div class="flx">
            <div class="imge">
                <img id="image-1" alt="teste"/>
<!--                 <div class="barraProgresso"> -->
<!--                     <div class="progresso" id="barraProgressoAluno"></div> -->
<!--                 </div> -->
            </div>
            <div id="button">
                <div id="texto" class="texto">
                    <p id="descricao"><span id="descricaoCurso"></span></p>
                </div>
                <div>
                    <a href="http://" class="button" id="linkCurso">Entrar no curso</a>
                </div>
            </div>
        </div>
        <p>Gerido por <b><span id="gestorCurso"></span></b>.</p>
        <div class="separador"></div>
        <p><span id="dataInicioCurso"></span> e <span id="finalizacaoCurso"></span>. Seu tempo total é de <span id="totalHorasCurso"></span>.
    </div>

    <footer-rgba></footer-rgba>

</body>

</html>