<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home - SkillShare</title>

    <!-- CDN das depedências externas -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css" integrity="sha512-HK5fgLBL+xu6dm/Ii3z4xhlSUyZgTT9tuc/hSrtw6uzJOvgRr2a9jyxxT1ely+B+xFAmJKVSTbpM/CuL7qxO8w==" crossorigin="anonymous" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Poppins">

    <link rel="stylesheet" href="css/GlobalComponents.css">
    <link rel="stylesheet" href="css/Menu.css">
    <link rel="stylesheet" href="css/TopBar.css">
    <link rel="stylesheet" href="css/Footer.css">
    <link rel="stylesheet" href="css/Home.css">

    <script src="js/Utils/ServerRequester.js"></script>

    <script src="js/Componentes/Menu.js"></script>
    <script src="js/Componentes/TopBar.js"></script>
    <script src="js/Componentes/Footer.js"></script>

    <script defer src="js/Paginas/Home.js"></script>


</head>
<body>
    <top-bar></top-bar>
    <menu-rgba></menu-rgba>

    <div class="header">
        <h1>Bem-vindo a SkillShare!</h1>
        <p class="titleP">A plataforma de ensino a distância gratuita que auxilia no desenvolvimento de novos conhecimentos</p>

        <div>
            <img id="slider" class="slider" src="images/img-1.png">
        </div>

        <p class="headerP">
            Em uma realidade em que o ensino on-line tornou-se essencial para a manutenção do conhecimento, a SkillShare tem o intuito de proporcionar treinamentos on-line e gratuitos para funcionários aperfeiçoarem suas habilidades técnicas!
        </p>
        <p class="headerP">
            Por isso, nosso ambiente é focado totalmente em agilidade, fácil acesso e práticidade, visando aumentar os ganhos intelectuais de nossos usuários. Para tal, contamos com suporte via chatbot, conteúdos de grande densidade educacional, as famosas “Pílulas de conhecimento”, que permitem ao aluno absorver muito em pouco tempo, avaliações, certificados, quizes e muito mais!
        </p>
    </div>

    <div class="vantagensSK">
        <div class="vantagemSk">

                <div class="vBox" style="justify-content: center;" hbox>
                    <h2>Gratuito</h2>
                    <p class="vantagemText">
                        Nossa plataforma é livre de custos, dessa forma torna-se mais
                        democrática e atraente para os mais diversos tipos de alunos
                    </p>
                </div>
                <img class="vantagemImg" src="images/vantagem2.png">

        </div>

            <div class="vantagemSkLeft">

                    <img class="vantagemImg" src="images/vantagem1.png">

                    <div class="vBox" style="justify-content: center;" hbox>
                        <h2>Online</h2>
                        <p class="vantagemText">
                            Com foco no EAD, todo o nosso conteúdo é disponibilizado de forma 
                            online, tornando-se de fácil acesso a qualquer lugar e em 
                            qualquer hora para que o aluno possa estudar no 
                            momento que lhe for mais oportuno
                        </p>

                </div>
            </div>

            <div class="vantagemSk">

                    <div class="vBox" style="justify-content: center;" hbox>
                        <h2>Certificados</h2>
                        <p class="vantagemText">
                            Todos os nossos cursos possuem certificados ao serem concluídos,
                            o que incentiva os alunos a se dedicarem e terem compromisso
                            com o aprendizado
                        </p>
                    </div>
                    <img class="vantagemImg" src="images/vantagem3.png">

        </div>
    </div>

    <div class="separador"></div>

    <div class="depoimentos">
        <h1 class="depoimentosTitle">Ainda não está convencido?</br>
            Vejo alguns depoimentos de nossos usuários!</h1>

        <div class="depoimento">
            <img class="userImg" src="images/user3.jpeg">
            <div class="userInfo">
                <label><b>Raquel Fernandes</b></label>
                <p>
                    <i>Com a SkillShare, consegui aumentar meus</br>
                    conhecimentos sem alterar minha rotina</br>
                    diária</i>
                </p>
            </div>
        </div>

        <div class="depoimentoLeft">
            <div class="userInfoLeft">
                <label><b>Miguel Henrique dos Santos</b></label>
                <p class="leftUser">
                    <i>Utilizando a plataforma, pude</br>
                        me destacar ainda mais no </br>
                        campo em que atuo</i>
                </p>
            </div>
            <img class="userImg" src="images/user2.jpg">
        </div>

        <div class="depoimento">
            <img class="userImg" src="images/user1.jpg">
            <div class="userInfo">
                <label><b>Maicon Nascimento</b></label>
                <p>
                    <i>Aqui eu tive a oportunidade que precisava</br>
                        para aprender as competências necessárias</br>
                        e receber uma promoção em meu trabalho</i>
                </p>
            </div>
        </div>

        <div class="depoimentoLeft">
            <div class="userInfoLeft">
                <label><b>Maria Silva</b></label>
                <p class="leftUser">
                    <i>Mesmo com minha agenda apertada,</br>
                        pude concluir meus cursos em meu</br>
                        próprio tempo, graças a SkillShare</i>
                </p>
            </div>
            <img class="userImg" src="images/user4.jpg">
        </div>

    </div>

    <div class="separador"></div>

    <div class="materialDeApoio">
        <h1 style="text-align: center;">Nosso material de apoio aos alunos</h1>

        <p style="text-align: center;">
            Nosso sistema conta com uma grande variedade de cursos, material didático e</br>
            pílulas de conhecimento disponíveis aos alunos
        </p>

        <div class="materiais">
            <div class="material1">
                <label><b>Biblioteca</b></label>
                <p style="text-align: center;">
                    Com uma ampla gama de acervo, nossa biblioteca</br>
                    conta com diversos títulos disponíveis aos alunos,</br>
                    com acesso rápido e priorizando a exibição daqueles</br>
                    que lhes são mais relevantes
                </p>
            </div>

            <div class="material2">
                <label><b>Pílulas de conhecimento</b></label>
                    <p style="text-align: center;">
                        As pílulas de conhecimento são conteúdos que</br>
                        exigem pouco tempo do aluno, mas são ricas em</br>
                        conhecimento, maximizando seu apredizado</br>
                        em menos tempo
                    </p>
            </div>
        </div>

        <p style="text-align: center;">
            Sinta-se livre para navegar por estes conteúdos, afinal,
            somos um lugar onde o conhecimento é compartilhado com todos!
        </p>
    </div>

    <footer-rgba><script src="https://unpkg.com/blip-chat-widget" type="text/javascript">
</script>
<script src="js/ChatBot/chatbot.js"></script></footer-rgba>
</body>
</html>