<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
xmlns:th="http://www.thymeleaf.org">
<head> 
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <script src="js/Utils/ServerRequester.js"></script>
</head>
<body>
    <h1>Página home!</h1>
    <button onclick="window.location.href = 'pag2'">Ir para Página 2</button>
    <button onclick="testePost()">Fazer POST</button>
    <button onclick="testeGet()">Fazer GET</button>

    <script>
        async function testePost() {
            let a = await serverRequester.fazerPost('/aluno/cadastrar', 
            {
                nome: "Rafael", 
                email: "rafs.97@hotmail.com", 
                cpf: "333333333333", 
                senha: "senhazita"
            });
            console.log(a);
        }

        async function testeGet() {
            console.log(await serverRequester.fazerGet('/get', {abc: 1}));
        }
    </script>

</body>
</html>