<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Lista de Turmas por Curso | SkillShare</title>

    <!-- Rodar no Eclipse -->
<link rel="stylesheet" href="css/GlobalComponents.css">
<link rel="stylesheet" href="css/Menu.css">
<link rel="stylesheet" href="css/TopBar.css">
<link rel="stylesheet" href="css/Footer.css">
<link rel="stylesheet" href="css/ListagemTurmas.css">

<script src="//mozilla.github.io/pdf.js/build/pdf.js"></script>
<script src="js/Utils/downloadFile.js"></script>
<script src="js/Utils/renderPDF.js"></script>
<script src="js/Utils/ServerRequester.js"></script>

<script src="js/Componentes/Menu.js"></script>
<script src="js/Componentes/TopBar.js"></script>
<script src="js/Componentes/Footer.js"></script>
<script src="js/Entidades/Biblioteca.js"></script>
<script src="js/Paginas/ListagemTurmas.js" defer></script>