<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>

    <link rel="stylesheet" href="../static/css/GlobalComponents.css">
    <link rel="stylesheet" href="../static/css/Modal.css">


    <script src="../static/js/script.js"></script>
    <script src="../static/js/Modal.js"></script>

</head>
<body>
    <button onclick="showModal()">Modal</button>

    <modal-element id="meuModal" type="signUp"></modal-element>
    <br>
    <br>
    <div class="beautyInputContainer">
        <input class="beautyInput" type="text" placeholder=" ">
        <label class="beautyInputLabel">Nome</label>
        
    </div>

    <button class="beautyButton">Cadastrar</button>

    <div class="modalHeader">
        <h3>sadasd</h3>
        <p>dasdasd</p>
    </div>

    <input type="checkbox" name="" id="">

    <div class="vBox">
        <span>aa</span>
        <span>aa</span>
        <span>aa</span>
    </div>

    <div class="hBox">
        <span>aa</span>
        <span>aa</span>
        <span>aa</span>
    </div>
</body>
</html>