<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>

    <link rel="stylesheet" href="../static/css/Modal.css">

    <script src="../static/js/script.js"></script>
</head>
<body>
    <button onclick="showModal()">Modal</button>

    <div id="modalMenu" class="modal">
        <div id="modalContent" class="modal-content">
            <p>Modalzito sem bs lixo '-'</p>
            <button onclick="hideModal()">Clique</button>
        </div>
    </div>
</body>
</html>