<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SkillShare - Login</title>
    
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css" integrity="sha512-HK5fgLBL+xu6dm/Ii3z4xhlSUyZgTT9tuc/hSrtw6uzJOvgRr2a9jyxxT1ely+B+xFAmJKVSTbpM/CuL7qxO8w==" crossorigin="anonymous" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Poppins">

    <!-- Rodar no Eclipse -->
    <link rel="stylesheet" href="css/GlobalComponents.css">
    <link rel="stylesheet" href="css/Modal.css">
    <link rel="stylesheet" href="css/BeautySelect.css">
    <link rel="stylesheet" href="css/BeautyInput.css">
    <link rel="stylesheet" href="css/BeautyButton.css">
    <link rel="stylesheet" href="css/Login.css">

    <script src="js/Componentes/BeautyInput.js"></script>
    <script src="js/Componentes/BeautyButton.js"></script>
    <script src="js/Componentes/BeautySelect.js"></script>
    <script src="js/Componentes/UsageTerms.js"></script>
    <script src="js/Componentes/Modal.js"></script>

    <script src="js/Paginas/Login.js"></script>
    

    <!-- Rodar no VSCode 
    <link rel="stylesheet" href="../static/css/GlobalComponents.css">
    <link rel="stylesheet" href="../static/css/Modal.css">
    <link rel="stylesheet" href="../static/css/BeautySelect.css">
    <link rel="stylesheet" href="../static/css/BeautyInput.css">
    <link rel="stylesheet" href="../static/css/BeautyButton.css">
    <link rel="stylesheet" href="../static/css/Login.css">

    <script src="../static/js/Componentes/BeautyInput.js"></script>
    <script src="../static/js/Componentes/BeautyButton.js"></script>
    <script src="../static/js/Componentes/BeautySelect.js"></script>
    <script src="../static/js/Componentes/UsageTerms.js"></script>
    <script src="../static/js/Componentes/Modal.js"></script>

    <script src="../static/js/Paginas/Login.js"></script>
    -->

</head>
<body>
    <modal-element type="recover"></modal-element>

    <form class="vBox vBoxBorder" onsubmit="logar(event)">
            <div class="topo">
                <h2 class="title">Entrar em SkillShare</h2>
                <p>Insira seu e-mail e senha para realizar seu login</p>
            </div>
            <beauty-input type="email" title="Insira seu e-mail" placeholder="E-mail" required="true" icon="envelope"></beauty-input>
            <beauty-input type="password" title="Insira sua senha" placeholder="Senha" required="true" icon="key"></beauty-input>
            <label><input id="checkboxLembrarDeMim" type="checkbox">Lembrar de mim</label>
            <div class="hBox">
                <beauty-button text="Entrar" title="Clique para fazer login"></beauty-button>
            </div>
            <div class="vbox">
                <span tabindex="9" class="link" onclick="modalsController.showModal('recover')">Esqueci minha senha</span>
            </div>
        </form>
    
</body>
</html>