<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <!-- CDN das depedências externas -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css" integrity="sha512-HK5fgLBL+xu6dm/Ii3z4xhlSUyZgTT9tuc/hSrtw6uzJOvgRr2a9jyxxT1ely+B+xFAmJKVSTbpM/CuL7qxO8w==" crossorigin="anonymous" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Poppins">

    <link rel="stylesheet" href="../static/css/GlobalComponents.css">
    <link rel="stylesheet" href="../static/css/componentes.css">

</head>
<body>
    <script>
        function teste(){
            let subOption = document.getElementsByClassName("subOptions")[0];

            if(subOption.classList.contains("expanded")){
                subOption.classList.remove("expanded");
                subOption.classList.add("hiden");
            }else{
                subOption.classList.remove("hiden");
                subOption.classList.add("expanded");
            }
            
        }

        function abrir(){
            let menuBackground = document.getElementsByClassName("menuBackground")[0];
            let menu = document.getElementsByClassName("menu")[0];

            if(menuBackground.classList.contains("show")){
                menuBackground.classList.remove("show");
                menuBackground.classList.add("hide");

                menu.classList.remove("show");
                menu.classList.add("hide");
            }else{
                menuBackground.classList.remove("hide");
                menuBackground.classList.add("show");

                menu.classList.remove("hide");
                menu.classList.add("show");
            }
        }
    </script>
    <button onclick="abrir()">Abrir menu</button>
    <div class="menuBackground">
        <div class="menu">
            <div class="logoContainer">
                <img class="logo" src="../static/images/logoSkillShare.PNG">
            </div>

            <div class="optionContainer">
                <div class="mainOption" onclick="teste()" role="button" tabindex="0">
                    <span class="fas fa-chalkboard-teacher mainOption-fa"></span>
                    <label class="mainOptionLabel">Cursos</label>
                </div>

                <div class="subOptions">
                    <span class="fas fa-minus subOption-fa"></span>
                    <label class="subOption">Uma opção</label>
                </div>
            </div>
        </div>
    </div>
</body>
</html>