<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Meus Cursos | SkillShare</title>

<!-- CDN das depedências externas -->
<link rel="stylesheet"
	href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css"
	integrity="sha512-HK5fgLBL+xu6dm/Ii3z4xhlSUyZgTT9tuc/hSrtw6uzJOvgRr2a9jyxxT1ely+B+xFAmJKVSTbpM/CuL7qxO8w=="
	crossorigin="anonymous" />
<link rel="stylesheet"
	href="https://fonts.googleapis.com/css?family=Poppins">

<!-- Rodar no Eclipse -->
<link rel="stylesheet" href="css/GlobalComponents.css">
<link rel="stylesheet" href="css/Menu.css">
<link rel="stylesheet" href="css/TopBar.css">
<link rel="stylesheet" href="css/Footer.css">
<link rel="stylesheet" href="css/meusCursosAluno.css">

<script src="js/Utils/ServerRequester.js"></script>

<script src="js/Componentes/Menu.js"></script>
<script src="js/Componentes/TopBar.js"></script>
<script src="js/Componentes/Footer.js"></script>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>

<script defer src="js/Scorm/auth.js"></script>
<script defer src="js/Scorm/getProgressoAluno.js"></script>
<script src="js/Utils/renderIMG.js"></script>
<script defer src="js/Paginas/meusCursosAluno.js"></script>

<script src="js/Entidades/Usuario.js"></script>
</head>
<body>
	<top-bar></top-bar>
	<menu-rgba></menu-rgba>

	<div>
		<div class="header">
			<h1>Todos os seus cursos</h1>
			<p class="titleP">Aqui estão todos os seus cursos. Clique em um para começar!</p>
		</div>
		<div class="todosCursos" id="todosCursos">
<!-- 			<div class="curso"> -->
<!-- 				<img alt="foto do curso" src="images/foto-exemplo-1.jpg"> -->
<!-- 				<p>Culinária básica - Aprenda pratos simples</p> -->
<!-- 				<div class="barraProgresso"> -->
<!-- 					<div class="progresso" style="width: 50%"></div> -->
<!-- 				</div> -->
		</div>
	</div>

	<footer-rgba></footer-rgba>
    <script src="https://unpkg.com/blip-chat-widget" type="text/javascript"></script>
    <script src="js/ChatBot/chatbot.js"></script>
</body>
</html>