<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Feedbacks | SKillShare</title>

    <!-- CDN das depedências externas -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css"
        integrity="sha512-HK5fgLBL+xu6dm/Ii3z4xhlSUyZgTT9tuc/hSrtw6uzJOvgRr2a9jyxxT1ely+B+xFAmJKVSTbpM/CuL7qxO8w=="
        crossorigin="anonymous" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Poppins">

    <link rel="stylesheet" href="css/GlobalComponents.css">
	<link rel="stylesheet" href="css/Menu.css">
	<link rel="stylesheet" href="css/TopBar.css">
	<link rel="stylesheet" href="css/Footer.css">
	<link rel="stylesheet" href="css/MeusFeedbacks.css">

	<script src="js/Utils/ServerRequester.js"></script>

	<script src="js/Componentes/Menu.js"></script>
	<script src="js/Componentes/TopBar.js"></script>
	<script src="js/Componentes/Footer.js"></script>

	<script defer src="js/Paginas/MeusFeedbacks.js"></script>

</head>
<body>
    <top-bar></top-bar>
	<menu-rgba></menu-rgba>

    <div class="header">
        <h1>Feedbacks de conclusão de curso</h1>
        <p>
            Aqui você pode consultar sua nota nas provas finais dos cursos e visualizar o feedback quem
            seu tutor fizer a respeito do seu aproveitamento no curso
        </p>

    </div>
    
    <div class="separador"></div>

    <div id="meusFeedbacksContainer" class="containerFeedbacks">

    </div>

    <footer-rgba></footer-rgba>
</body>
</html>