<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SkillShare - Informações do Usuário</title>
    
    <!-- CDN das depedências externas -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css" integrity="sha512-HK5fgLBL+xu6dm/Ii3z4xhlSUyZgTT9tuc/hSrtw6uzJOvgRr2a9jyxxT1ely+B+xFAmJKVSTbpM/CuL7qxO8w==" crossorigin="anonymous" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Poppins">

    <!-- Rodar no Eclipse 
    <link rel="stylesheet" href="css/GlobalComponents.css">
    <link rel="stylesheet" href="css/Modal.css">
    <link rel="stylesheet" href="css/BeautySelect.css">
    <link rel="stylesheet" href="css/BeautyInput.css">
    <link rel="stylesheet" href="css/BeautyButton.css">
    <link rel="stylesheet" href="css/MinhaConta.css">

    <script src="js/Componentes/BeautyInput.js"></script>
    <script src="js/Componentes/BeautyButton.js"></script>
    <script src="js/Componentes/BeautySelect.js"></script>
    <script src="js/Componentes/UsageTerms.js"></script>
    <script src="js/Componentes/Modal.js"></script>
    <script src="js/Paginas/MinhaConta.js"></script>
    -->

    <!-- Rodar no VSCode -->
    <link rel="stylesheet" href="../static/css/GlobalComponents.css">
    <link rel="stylesheet" href="../static/css/Modal.css">
    <link rel="stylesheet" href="../static/css/BeautySelect.css">
    <link rel="stylesheet" href="../static/css/BeautyInput.css">
    <link rel="stylesheet" href="../static/css/BeautyButton.css">
    <link rel="stylesheet" href="../static/css/Login.css">

    <script src="../static/js/Componentes/BeautyInput.js"></script>
    <script src="../static/js/Componentes/BeautyButton.js"></script>
    <script src="../static/js/Componentes/BeautySelect.js"></script>
    <script src="../static/js/Componentes/UsageTerms.js"></script>
    <script src="../static/js/Componentes/Modal.js"></script>

    <script src="../static/js/Paginas/InfoUsuario.js"></script>
    

</head>
<body>
    <div class="vbox vBoxBorder">
        <h1 class="title">Minha Conta</h1>
        <div class="hBox">
            <img src="..\images\user.png"></img>
            <div class="vBox">
                <beauty-input type="Nome" placeholder="Nome"></beauty-input>
                <beauty-input type="Idade" placeholder="Idade"></beauty-input>
                <beauty-input type="class" placeholder="Função"></beauty-input>
                <beauty-button text="Editar"></beauty-button>
            </div>
        </div>
    </div>
</body>