<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Notícias</title>

    <!-- CDN das depedências externas -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css" integrity="sha512-HK5fgLBL+xu6dm/Ii3z4xhlSUyZgTT9tuc/hSrtw6uzJOvgRr2a9jyxxT1ely+B+xFAmJKVSTbpM/CuL7qxO8w==" crossorigin="anonymous" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Poppins">

    <!-- Rodar no Eclipse -->
    <link rel="stylesheet" href="css/Noticias.css">
    <link rel="stylesheet" href="css/Menu.css">
    <link rel="stylesheet" href="css/TopBar.css">
    <link rel="stylesheet" href="css/Footer.css">
    <link rel="stylesheet" href="css/GlobalComponents.css">

    <script src="js/Utils/ServerRequester.js"></script>
    <script src="js/Paginas/Noticias.js"></script>
    <script src="js/Componentes/Menu.js"></script>
    <script src="js/Componentes/TopBar.js"></script>
    <script src="js/Componentes/Footer.js"></script>
    <script src="js/Entidades/Destaque.js"></script>
    <script src="js/Entidades/Noticia.js"></script>
    
</head>
<body>
    <top-bar></top-bar>
    <menu-rgba></menu-rgba>
    <div class="paginaDisplayer">
        <div class="maisConteudo">
            <h3>Mais Conteúdo</h3>
            <div class="sideMaisConteudo" id="sideNoticias">
                <h4>Notícias</h4>
                <div>
                    <img>
                    <label></label>
                </div>
            </div>
            <div class="sideMaisConteudo" id="sideEventos">
                <h4>Eventos</h4>
            </div>
        </div>
        <div class="separadorV"></div>
        <div class="noticiaContainer" id="noticiaEventoDisplayer">
            <div class="noticiaHeader">
                <img class="imagemNoticiaHeader">
                <div class="noticiaHeaderTitulo">
                    <h1>
                        Novas leis para se seguir na segurança do trabalho
                    </h1>
                    <p>
                        Lançada oficialmente na última semana no canal de notícias da CONFEA, novas leis estarão entrando em vigor no ambiente de trabalho no próximo semestre do ano
                    </p>
                </div>
            </div>
            <p class="noticiaText">
                "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum."

"Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem. Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis suscipit laboriosam, nisi ut aliquid ex ea commodi consequatur? Quis autem vel eum iure reprehenderit qui in ea voluptate velit esse quam nihil molestiae consequatur, vel illum qui dolorem eum fugiat quo voluptas nulla pariatur?"
            </p>
        </div>
    </div>

    <footer-rgba></footer-rgba>
</body>
</html>