<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">


    <link rel="stylesheet" href="../static/ss/Menu.css">
    <link rel="stylesheet" href="../static/css/TopBar.css">
    <link rel="stylesheet" href="../static/css/Footer.css">
    <link rel="stylesheet" href="../static/css/GlobalComponents.css">
    <link rel="stylesheet" href="../static/css/Aluno.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Poppins">

    <script src="../static/js/Utils/ServerRequester.js"></script>
    <script src="../static/js/Componentes/Menu.js"></script>
    <script src="../static/js/Componentes/TopBar.js"></script>
    <script src="../static/js/Componentes/Footer.js"></script>
    
    <title>Pagina do aluno</title>
</head>
<body>
    <div class="FullPage">
        <div class="Header">

            <top-bar></top-bar>
            <menu-rgba></menu-rgba>

        </div>
        <div class="body">
            <div class="flex">
                <div class="flexcol">
                    <div class="ApresentaçãoSkillShare">
                        <p id="bemvindoaoskillshare">Bem vindo a SkillShare!</p>
                        <p id="aquivcpode">Aqui você pode conferir tudo relacionado a sua conta, gerir os cursos
                            em que foi matriculado e visualizar as últimas notícias e informações
                            inerentes à sua formação</p>
                        <p id="algu">Alguns links que podem ser do seu interesse...</p>
                    </div>
                    <div class="LinksUteis">

                        <a href="Tela de biblioteca aqioooo">
                            <img src="../static/images/imgmiblioteca.png" alt="">
                        </a>

                        <a href="Tela de pulilas aqioooo">
                            <img src="../static/images/imgpilulas.png" alt="">
                        </a>

                        <a href="Tela de meus cursos aqioooo">
                            <img src="../static/images/imgcursos.png" alt="">
                        </a>
                    </div>
                </div>
                <div class="CursosAndamento">

                    <p id="cursosandamento">Cursos em andamento</p>

                        
                            <a id="adecoration" href="noticia aqui ó">
                                <img id="flex" src="../static/images/img-1.jpg" alt="imagem do curso 1">
                                <div id="block">
                                    <p id="marginnomecurso">Nome do curso que vem do banco</p><br>
                                    <p> Procentagem que vem do banco</p><br>
                                </div>
                            </a>
                        

                            <a id="adecoration" href="Segundocurso aqui ó">
                                <img id="flex" src="../static/images/img-1.jpg" alt="imagem do curso 1">
                                <div id="block">
                                    <p id="marginnomecurso">Nome do curso que vem do banco</p><br>
                                    <p> Procentagem que vem do banco</p><br>
                                </div>
                            </a>
                        

                            <a id="adecoration" href="terceirocurso aqui ó">
                                <!--<img src="imagem aleatoria" alt="imagem do curso 1">-->
                                <img id="flex" src="../static/images/img-1.jpg" alt="imagem do curso 1">
                                <div id="block">
                                    <p id="marginnomecurso">Nome do curso que vem do banco</p><br>
                                    <p> Procentagem que vem do banco</p><br>
                                </div>
                            </a>  
                </div>
            </div>

            <div class="ultimosEventosENoticias">
                <div class="toper-event">
                    <p id="eventos-e-noticas">Eventos e noticias</p><br>
                    <a id="adecorationvertudo" href="link ver todas as noticias">ver tudo</a><br>
                </div>
                <div id="noticias">
                    <a id="adecoration" href="noticia aqui ó">
                        <img id="imagenoticia" src="../static/images/Ellipse 2.png" alt="imagem da noticia">
                        <div id="descricaonoticias">
                            <p id="margintopnoticia">titulo da noticia que vem do banco</p>
                            <p id="marginnoticia">breafing da noticia</p>
                            <p id="leramaisdanoticia">ler conteudo completo</p> 
                        </div>
                    </a>
                </div>

                <div id="noticias">
                    <a id="adecoration" href="noticia aqui ó">
                        <img id="imagenoticia" src="../static/images/Ellipse 2.png" alt="imagem da noticia">
                        <div id="descricaonoticias">
                            <p id="margintopnoticia">titulo da noticia que vem do banco</p>
                            <p id="marginnoticia">breafing da noticia</p>
                            <p id="leramaisdanoticia">ler conteudo completo</p>
                        </div> 
                    </a>
                </div>

                <div id="noticias">
                    <a id="adecoration" href="noticia aqui ó">
                        <img id="imagenoticia" src="../static/images/Ellipse 2.png" alt="imagem da noticia">
                        <div id="descricaonoticias">
                            <p id="margintopnoticia">titulo da noticia que vem do banco</p>
                            <p id="marginnoticia">breafing da noticia</p>
                            <p id="leramaisdanoticia">ler conteudo completo</p>
                        </div>
                    </a>
                </div>
            </div>         
        </div>
    </div>

    <footer-rgba></footer-rgba>

</body>
</html>