<!doctype html>
<html>
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link href="http://www.jqueryscript.net/css/jquerysctipttop.css" rel="stylesheet" type="text/css">
		<link href="http://cdnjs.cloudflare.com/ajax/libs/normalize/3.0.1/normalize.css" rel="stylesheet" type="text/css">
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
        <link href="../static/css/dependencias/Skate/skate.min.css" rel="stylesheet" type="text/css">
        <link rel="stylesheet" type="text/css" href="../static/css/dependencias/Skate/style.css">
    <title>Skill Share</title>
</head>



<body>


    <div>

        <nav>
            <input type="checkbox" id="check">
            <label for="check" class="checkbtn">
                <i class="fas fa-bars"></i>
            </label>
            <label class="logo">SkillShare</label>
            <ul>
                <li><a class="active" href="#">Início</a></li>
                <li><a href="#">Sobre</a></li>
                <li><a href="#">Cursos</a></li>
                <li><a href="#">Login</a></li>
                <li><a href="#">Validar Certificado</a></li>
            </ul>
        </nav>


    </div>
    
    <div class="banner-slider">
        <div class="banner-slider-inner">
            <div class="banner-slider-contents">
                <img src="../static/images/img-1.jpg">
                <img src="../static/images/img-2.jpg">
                <img src="../static/images/img-3.jpg">
            </div>
            
            <ul class="banner-slider-blobs"></ul>
        </div>
    </div>
    
    <script src="../static/js/Dependencias/skate.js"></script>
    <script type="text/javascript">
            
              var _gaq = _gaq || [];
              _gaq.push(['_setAccount', 'UA-36251023-1']);
              _gaq.push(['_setDomainName', 'jqueryscript.net']);
              _gaq.push(['_trackPageview']);
            
              (function() {
                var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
                ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
                var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
              })();
            
    </script>




<div class="content">
    <div class="card">
        <div class="topCard">
            <h2 class="title">Gratuito</h2>
        </div>
        <div class="mediaCard"><img class="img" src="../static/images/vantagem1.jpg"></div>
        <div class="bottomCard">
            <h3 class="bottomText"> Estudo gratuito de qualidade com tutoria</h3>

        </div>

    </div>
    <div class="card">
        <div class="topCard">
            <h2 class="title">Online</h2>
            
        </div>
        <div class="mediaCard"><img class="img" src="../static/images/vantagem2.jpg"></div>
        <div class="bottomCard">
            <h3 class="bottomText"> Estude onde quiser e a hora que quiser</h3>
        </div>

    </div>
    <div class="card">
        <div class="topCard">
            <h2 class="title">Certificado</h2>
            
        </div>
        <div class="mediaCard"><img class="img" src="../static/images/vantagem3.jpg"></div>
        <div class="bottomCard">
            <h3 class="bottomText" text-> Certificado no final do curso</h3>
        </div>

    </div>
</div>

<footer>
    <p class="copyright">&copy; Copyright SkillShare - 2021</p>
 
 
            <ul>
                
                <li><a href="cadastro.html">Cadastrar Instituição</a></li>
            </ul>


</footer>
    
    
        
</body>
</html>