<!doctype html>
<html>
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link href="http://www.jqueryscript.net/css/jquerysctipttop.css" rel="stylesheet" type="text/css">
		<link href="http://cdnjs.cloudflare.com/ajax/libs/normalize/3.0.1/normalize.css" rel="stylesheet" type="text/css">
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
        <link href="/src/main/resources/static/css/dependencias/Skate/skate.min.css" rel="stylesheet" type="text/css">
        <link rel="stylesheet" type="text/css" href="/src/main/resources/static/css/dependencias/Skate/style.css">
    <title>Skill Share</title>
</head>



<body>


    <div>

        <nav>
            <input type="checkbox" id="check">
            <label for="check" class="checkbtn">
                <i class="fas fa-bars"></i>
            </label>
            <label class="logo">SkillShare</label>
            <ul>
                <li><a class="active" href="#">Início</a></li>
                <li><a href="#">Sobre</a></li>
                <li><a href="#">Cursos</a></li>
                <li><a href="#">Login</a></li>
                <li><a href="#">Validar Certificado</a></li>
            </ul>
        </nav>


    </div>
    
    <div class="banner-slider">
        <div class="banner-slider-inner">
            <div class="banner-slider-contents">
                <img src="/src/main/resources/static/images/img-1.jpg">
                <img src="/src/main/resources/static/images/img-2.jpg">
                <img src="/src/main/resources/static/images/img-3.jpg">
            </div>
            
            <ul class="banner-slider-blobs"></ul>
        </div>
    </div>
    
    <script src="/src/main/resources/static/js/Dependencias/skate.js"></script>
    <script type="text/javascript">
            
              var _gaq = _gaq || [];
              _gaq.push(['_setAccount', 'UA-36251023-1']);
              _gaq.push(['_setDomainName', 'jqueryscript.net']);
              _gaq.push(['_trackPageview']);
            
              (function() {
                var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
                ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
                var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
              })();
            
    </script>



<div>       
    <ul class="vantagens">
  
        <li>
            <h2></h2>
            <img class="img" src="/src/main/resources/static/images/vantagem1.jpg">
            <p class="descricao">Estudo gratuito de qualidade com tutoria</p>
          
        </li>
        <li>
            <h2></h2>
            <img class="img" src="/src/main/resources/static/images/vantagem2.jpg">                  
            <p class="descricao">Estude onde quiser e a hora que quiser</p>
        </li>
        <li>
            <h2></h2>
            <img class="img" src="/src/main/resources/static/images/vantagem3.jpg">
            <p class="descricao">Certificado no final do curso</p>
            
            
        </li>            
    </ul>
</div>  


<footer>
    <p class="copyright">&copy; Copyright SkillShare - 2021</p>
 
 
            <ul>
                
                <li><a href="cadastro.html">Cadastrar Instituição</a></li>
            </ul>


</footer>
    
    
        
</body>
</html>