<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Poppins">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css" integrity="sha512-HK5fgLBL+xu6dm/Ii3z4xhlSUyZgTT9tuc/hSrtw6uzJOvgRr2a9jyxxT1ely+B+xFAmJKVSTbpM/CuL7qxO8w==" crossorigin="anonymous" />
    
    <link rel="stylesheet" href="css/Menu.css">
    <link rel="stylesheet" href="css/TopBar.css">
    <link rel="stylesheet" href="css/Footer.css">
    <link rel="stylesheet" href="css/GlobalComponents.css">
    <link rel="stylesheet" href="css/Aluno.css">

    <script src="js/Utils/ServerRequester.js"></script>
    <script src="js/Componentes/Menu.js"></script>
    <script src="js/Componentes/TopBar.js"></script>
    <script src="js/Componentes/Footer.js"></script>
    
    <title>Página do aluno | SkillShare</title>
</head>
<body>
    <top-bar></top-bar>
    <menu-rgba></menu-rgba>

    <div class="FullPage">
        <div class="Header">

            
        </div>
        <div class="body">
            <div class="flex">
                <div class="flexcol">
                    <div class="ApresentacaoSkillShare">
                        <p id="bemvindoaoskillshare">Bem-vindo a SkillShare!</p>
                        <p id="aquivcpode">Aqui você pode conferir tudo relacionado a sua conta, gerir os cursos
                            em que foi matriculado e visualizar as últimas notícias e informações
                            inerentes à sua formação</p>
                        <p id="algu">Aqui vão alguns links que podem ser do seu interesse:</p>
                    </div>
                    <div class="LinksUteis">

                        <a id="a-size" href="/acervo">
                            <p id="textimg">Biblioteca</p>
                            <p id="textimgb">Aqui você pode conferir
                                todo o acervo de material
                                didatico que temos em nossa plataforma</p>
                            <img id="espaco-margin" src="images/imgmiblioteca.png" alt="">
                        </a>

                        <a id="a-size" href="/verPilulas">
                            <p id="textimg">Pílulas de conhecimento</p>
                            <p id="textimgb">Acesse conteúdos de 
                                curta duração para fixar
                                seus conhecimentos</p>
                            <img id="espaco-margin" src="images/imgpilulas.png" alt="">
                        </a>

                        <a id="a-size" href="Tela de meus cursos aqioooo">
                            <p id="textimg">Meus cursos</p>
                            <p id="textimgb">Veja todos os cursos
                                onde você foi matriculado
                                e acompanhe seu 
                                histórico
                                </p>
                            <img src="images/imgcursos.png" alt="">
                        </a>
                    </div>
                </div>
                <div class="CursosAndamento">

                    <p id="cursosandamento">Cursos em andamento</p>

                            <a id="adecoration" href="noticia aqui ó">
                                <img id="flex" src="https://img.freepik.com/fotos-gratis/3d-rendem-de-uma-mesa-de-madeira-com-uma-imagem-defocussed-de-um-barco-em-um-lago_1048-3432.jpg?size=626&ext=jpg" alt="imagem do curso 1">
                                <div id="block">
                                    <p id="marginnomecurso">Nome do curso que vem do banco</p><br>
                                    <p>Porcentagem que vem do banco</p><br>
                                </div>
                            </a>
                        
                </div>
            </div>

            <div class="ultimosEventosENoticias">
                <div class="toper-event">
                    <p id="eventos-e-noticas">Eventos e notícias</p><br>
                    <a id="adecorationvertudo" href="link ver todas as noticias">Ver tudo</a><br>
                </div>
                <div id="noticias">
                    <a id="adecoration" href="noticia aqui ó">
                        <img id="imagenoticia" src="images/Ellipse_2.png" alt="imagem da noticia">
                        <div id="descricaonoticias">
                            <p id="margintopnoticia">titulo da noticia que vem do banco</p>
                            <p id="marginnoticia">breafing da noticia</p>
                            <p id="leramaisdanoticia">Ler conteúdo completo</p> 
                        </div>
                    </a>
                </div>
            </div>         
        </div>
    </div>

    <footer-rgba></footer-rgba>

</body>
</html>