<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>

    <link rel="stylesheet" href="../static/css/GlobalComponents.css">
    <link rel="stylesheet" href="../static/css/Modal.css">
    <link rel="stylesheet" href="../static/css/teste.css">


    <script src="../static/js/script.js"></script>
    <script src="../static/js/Modal.js"></script>

        <h1 align="center">Recuperação de senha</h1>

</head>
<body>
    <div></div>

    <form>
        <div class="hTexto">
            <p>E-mail</p>
            <input type="text" name="" placeholder="Insira seu e-mail">
            <input type="submit"; style="align-items: center"; value="Enviar para meu e-mail"> 
        </div>
            

            
    </form>


            
      </div>
</body>
</html>

