<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>teste upload scorm</title>
    <script defer src="js/Scorm/auth.js"></script>
    <script defer src="js/Scorm/getImportStatus.js"></script>
    <script defer src="js/Scorm/getLinkCurso.js"></script>
    <script defer src="js/Scorm/uploadAluno.js"></script>
    <script defer src="js/Scorm/uploadScorm.js"></script>
    <script defer src="js/Scorm/deleteScorm.js"></script>
    <script defer src="js/Scorm/getProgressoAluno.js"></script>



</head>
<body>
    <form id="form" onsubmit="handleSubmit(event)" enctype="multipart/form-data">
        <input type="file" name="file" id="file"><br /><br />
        <button id="submit" type="submit">enviar</button>
    </form>
    <br /><br />
    <button onclick="abrirCurso(1,token)">Abrir curso</button>
    <button onclick="deletarCurso('golfe',token)">Deletar curso</button>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script>
        let token = null
        function handleSubmit(e){
            e.preventDefault()
            let form = $('#form')[0];
            let formData = new FormData(form);
            let courseId = 'golfe'
            let usuario = {
                nome:"nicholas",
                sobrenome:"roque",
                email:"nicholas.sroque@gmail.com",
                id:"1"
            }

            token = token===null?auth():token
            token.then((t)=>{
                uploadScorm(courseId,t,formData).then((importJobId)=>{
                        let status = setInterval(()=>{
                            getImportStatus(importJobId,t).then((res)=>{
                                console.log(res)
                                if(res.status=="COMPLETE"){
                                    clearInterval(status)
                                    uploadAluno(courseId,t,usuario).then((res)=>{ //aqui vai o usuario.id pq eu coloquei ele como registration id no createLeaner
                                        getLinkCurso(usuario.id,t).then((link)=>{
                                            window.open(link,'_blank'); 
                                        })
                                    })
                                }
                            })
                        },5000)
                })
            })
            
            
        }
        function abrirCurso(registrationId,to){
            to = token===null?auth():token
            to.then((t)=>{
                getLinkCurso(registrationId,t).then((link)=>{
                    getProgressoAluno(registrationId,t).then((res)=>{
                        //exibe o progresso no console
                        console.log(res);
                    })
                    window.open(link,'_blank'); 
                })
            })
        }

        function deletarCurso(courseId,to){
            to = token===null?auth():token
            to.then((t)=>{
                deleteScorm(courseId,t).then((res)=>{
                    console.log(res);
                })
            })
        }
    </script>
</body>
</html>