<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css" integrity="sha512-HK5fgLBL+xu6dm/Ii3z4xhlSUyZgTT9tuc/hSrtw6uzJOvgRr2a9jyxxT1ely+B+xFAmJKVSTbpM/CuL7qxO8w==" crossorigin="anonymous" />

    <link rel="stylesheet" href="../static/css/GlobalComponents.css">
    <link rel="stylesheet" href="../static/css/Modal.css">
    <link rel="stylesheet" href="../static/css/Select.css">
    <link rel="stylesheet" href="../static/css/BeautyInput.css">
    <link rel="stylesheet" href="../static/css/BeautyButton.css">

    <script src="../static/js/script.js"></script>
    <script src="../static/js/BeautyInput.js"></script>
    <script src="../static/js/BeautyButton.js"></script>
    <script src="../static/js/Modal.js"></script>
    <script src="../static/js/UsageTerms.js"></script>

</head>
<body>
<span class="fas fa-user fa-blue"></span>
    <button onclick="showModal()">Modal</button>

    <modal-element id="meuModal" type="signUp"></modal-element>

    <br>
    <br>
    <div class="beautyInputContainer">
        <input class="beautyInput" type="text" placeholder=" ">
        <label class="beautyInputLabel">Nome</label>
        
    </div>

    <button class="beautyButton">Cadastrar</button>

    <div class="modalHeader">
        <h3>sadasd</h3>
        <p>dasdasd</p>
    </div>

    <input type="checkbox" name="" id="">

    <div class="vBox">
        <span>aa</span>
        <span>aa</span>
        <span>aa</span>
    </div>

    <div class="hBox">
        <span>aa</span>
        <span>aa</span>
        <span>aa</span>
    </div>

    <div class="mainSelectBox">

    </div>

    <select name="" id="" class="combobox">
        <option value="">asdasd</option>
        <option value="">asdasd</option>
    </select>

    <usage-terms></usage-terms>
</body>
</html>