#optionContentDisplayer{
    display: flex;
    top: 50px;
    overflow: auto;
    width: 100%;
    height: fit-content;
    margin-bottom: 100px;
    padding-top: 60px;
}

/* Seleciona todos os filhos diretos da div que mostra o conteúdo */
#optionContentDisplayer > * {
    width: 100%;
    flex-direction: column;
}

.hide{
    display: none;
}

.show{
    display: flex;
}

.image{
    width: 50%;
    padding-left: 50px;
    padding-top: 10px;
}

.bottomSeparator{
    height: fit-content;
    padding-bottom: 20px;
    margin-bottom: 20px;

    border-bottom: 2px solid rgba(0, 0, 0, 0.2);

    width: 100%;
}