#optionContentDisplayer{
    display: flex;
    position: absolute;

    top: 50px;
    left: 250px;

    overflow: auto;

    width: calc(100vw - 300px);
    height: calc(100vh - 100px);

    padding: 25px;
}

/* Seleciona todos os filhos diretos da div que mostra o conteúdo */
#optionContentDisplayer > * {
    width: 100%;
}

.hide{
    display: none;
}

.show{
    display: flex;
}