.beautyButton{
    padding: 15px;

    border-radius: 30px;
    border: none;

    background-color: var(--signUpButtonBgColor);
    color: cornsilk;  /* Cor do texto */

    transition: 0.1s;  /* Transição para clicar */
}

.beautyButton:hover{
    background-color: var(--signUpButtonHoverColor);

    cursor: pointer;
}

.beautyButton:focus{
    outline: none;
    box-shadow: 0px 0px 10px rgba(53, 151, 146, 0.568);
}

.beautyButton:active{
    background: var(--signUpButtonActiveColor);
}
