
.beautyInputContainer{
    width: 230px;
    height: 50px;

    padding: 15px;

}

.beautyInputLabel{
    position: relative;

    font-size: 20px;
    bottom: -5px;
    opacity: 0.5;
    left: 10px;
    pointer-events: none;
    
    transition: bottom, font-size, 0.5s;
}

.beautyInput:focus ~ .beautyInputLabel, :not(.beautyInput:placeholder-shown) ~ .beautyInputLabel{
    bottom: 20px;
    left: 0px;
    font-size: 15px;
}

.beautyInput{
    position: absolute;

    border-width: 0px 0px 2px 0px;
    border-color: lightseagreen;

    background-color: transparent;

    width: 200px;
    height: 30px;
}

.beautyInput:focus{
    outline: none;
    background-color: rgba(119, 136, 153, 0.2);
}

.beautyInput:hover {
    background-color: rgba(119, 136, 153, 0.1);
}

.beautyInput:focus:hover{
    background-color: rgba(119, 136, 153, 0.2);
}
