.topBar{
    height: 40px;
    width: 100vw;
    background-color: #0AADA7;
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.topBarMenuButton{
    height: 100%;
    width: fit-content;

    margin-left: 25px;

    padding-left: 5px;
    padding-right: 5px;

    display: flex;
    align-items: center;

    cursor: pointer;

}

@media (max-width: 600px){
    .topBarMenuButton{
        margin-left: 5px;

    }
}

.topBarMenuButton:hover{
    background-color:  #0dbeb9;
}

.topBarMenuButton:active{
    background-color:  #10dad3
}

.topBarMenuButton-faIcon{
    color: white;
    font-size: 30px;

    user-select: none;

}

.topBarMenuButton label{
    color:white;
    margin-left: 10px;
    cursor: pointer;

    user-select: none;
}

.topBarTitle{
    color: white;
    font-size: 30px;
    display: flex;
    align-self: center;

    cursor: pointer;

    user-select: none;
}

.topBarOptionsDiv{
    display: flex;
    margin-right: 10px;
}

.topBarOptionLabel{
    color: white;
    display: flex;
    align-self: center;
    cursor: pointer;

    user-select: none;
}
