#title{
	text-align: center;
	font-size: 2em;
	font-weight: bold;
}
#imge{
	display: flex;
	height: 350px;
	width: 670px;
}
#detalhesCurso{
	margin: 100px 7% 0 7%;
}
#texto{

 	width: 400px;
 	height: 280px;
}
.flx{
	display: flex;
}
.button{
    display: block;
    height: 45px;
    width: 100%;
    text-align: center;
    border: none;
    border-radius: 40px;
    background-color: #0AADA7;	
}
#button{
	display: block;
	margin-left: 90px;
}