.footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    height: 350px;
    position: relative;
    bottom: 0;
    margin-top: 100px;
}

.logoFooter {
    display: flex;
    flex-direction: column;
    margin-left: 30px;
    margin-top: 95px;
}

.logoFooter img {
    width: 203px;
    margin-bottom: 10px;
}

.opcoes {
    display: flex;
    flex-direction: row;
    margin-top: 110px;
}


@media (max-width: 600px){
    .opcoes{
        flex-direction: column;
    }
}

.navegacao {
    display: flex;
    flex-direction: column;
    margin-right: 30px;
}

.title {
    font-size: 1.5rem;
    font-family: Poppins;
}

.text {
    font-size: 1rem;
    font-family: Poppins;
    margin-bottom: 0px;
}

path{
    filter: drop-shadow( 0px -1px 2px rgba(0, 0, 0, 0.4));
}