body{
    font-family: Arial, Helvetica, sans-serif
}

:root{
    --signUpButtonBgColor: #3fbdda;
    --signUpButtonHoverColor: #2f8ea3;
    --signUpButtonActiveColor: #88dbee;
}

.justifyLeft{
    align-items: flex-start;
}

.hBox{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: unset;
    width: 600px;

}
@media all and (max-width: 610px){
    .hBox{
        display: flex;
        flex-direction: column;
        align-items: center;

    }
    .hBox > .usageTermsContainer{
        margin: 10px;
    }

}

.vBox{
    display: flex;
    flex-direction: column;
    align-items: center;

}

.usageTermsContainer{
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 230px;
    margin-bottom: 20px;
}

.maxlabel{
    width: 250px;
    margin-left: 5px;
    left: 20px;
}

.fa-blue{
    color: turquoise;
    font-size: 50px;
}

.fa-beautyInputIcon{
    position: absolute;
    left: -10px;
    bottom: 36px;
    font-size: 20px;
    color:#31a0b9;
}