body{
    font-family: Arial, Helvetica, sans-serif
}

:root{
    --signUpButtonBgColor: #3fbdda;
    --signUpButtonHoverColor: #2f8ea3;
    --signUpButtonActiveColor: #88dbee;
}

.hBox{
    display: flex;
    flex-direction: row;
    justify-content: center;

}

.vBox{
    display: flex;
    flex-direction: column;
    align-items: center;

}

@media all and (max-width: 610px){
    .hBox{
        display: flex;
        flex-direction: column;
        align-items: center;
    
    }

}