.header{
    height: 950px;
    background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, #FFFFFF 100%), url(../images/homeHeader.png);
    background-size: cover;
    background-position: 50% 50%;

    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    padding-top: 50px;
}

.slider{
    width: 100%;
    height: 450px;

    margin-top: 40px;
    margin-bottom: 40px;

    background-color: bisque;
}

.headerP{
    text-align: center;

    margin-left: 80px;
    margin-right: 80px;
}

.vantagensSK{
    width: auto;
    height: 1250px;

    margin-left: 80px;
    margin-right: 80px;
    margin-top: 80px;
}

.vantagemSK{
    height: 350px;
}

.vantagemImg{
    height: 300px;
}

.vantagemHBox{
    display: flex;
    flex-direction: row;
}