.noticiaContainer {
    border: 2px solid black;
    width: 100%;
    height: 100px;
}

.maisConteudo {
    border: 2px solid black;
    width: 280px;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.paginaDisplayer {
    margin-top: 50px;
    display: flex;
    flex-direction: row;
}

.sideMaisConteudo{
    width: 100%;
    height: fit-content;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
}

.separadorV {
    width: 2px;
    background-color: rgba(0, 0, 0, 0.6);
    border-radius: 20px;
    height: auto;
    margin-top: 15px;
    margin-bottom: 15px;
    margin-left: 20px;
    margin-right: 20px;
}