.formAdicionarTurma {
	width: 70%;
	margin: 0px auto;
}

.campoCadastroTurma {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.campoCadastroTurma .titleLabel {
	margin-right: 15px;
}

.tableTurma {
  width: 100%;
  margin-bottom: 1rem;
  color: #212529;
  border-collapse: collapse;
}

.tableTurma theadTurma th {
  border-bottom: 2px solid #dee2e6;
  border-top: 0;
  vertical-align: bottom;
  user-select: none;
}

.tableTurma td,
.tableTurma th {
  padding: 0.75rem;
  border-top: 1px solid #dee2e6;
  user-select: none;
}

td.titleTurma {
  font-size: 16px;
  font-style: italic;
}

input[type="checkbox"]:checked + label {
  text-decoration: line-through;
}

.published {
  display: flex;
  align-items: center;

  label {
    margin-left: 16px;
    font-size: 16px;
    font-style: italic;
  }
}