.show {
     display: flex;
}
.hide{
     display: none;
 }
.container {
     display: flex;
     flex-direction: column;
     align-items: center;
}
.principal {
     flex-direction: column;
     align-items: center;
     margin-top: 5%;
     width: 80%;
}
.titulo, .textoExplicativo {
     text-align: center;
}
.conteudo {
     flex-direction: column;
     align-items: center;
     margin-top: 5%;
     width: 80%;
}
.todosCursos {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}
.curso {
	width: 296px;
	height: 270px;
	border-radius: 27px;
     display: flex;
     justify-content: center;
     flex-direction: column;
     align-items: center;
     margin: 25px;
  	box-shadow: 5px 5px 5px #888888;
}
.curso img {
	width: 100%;
	height: 220px;
	object-fit: cover;
	border-top-left-radius: 27px;
	border-top-right-radius: 27px;
}
.curso p {
	text-align: center;
	margin-right: 15px;
	margin-left: 15px;
	margin-top: 5px;
	margin-bottom: 0px;
}

.adicionarCurso{
    display: flex;
    flex-direction: column;
    width: 90%;
    margin: 0 auto;
    margin-top: 15px;
} 

.campoNome{
    display: flex;
    flex-direction: row; 
    margin-top: 10px;
    margin-bottom: 10px;
    width: 100%;
}

.buttonContainer{
    width: 100%;
    display: flex;
    flex-direction: row;
    place-content: space-between;
    margin-top: 50px;
}

input[type = text]{
    margin-left: 10px;
    border: none;
    border-bottom: 2px solid #0aada7;
    font-size: 17px;
    outline: none;
    width: 100%;
}

input[type = text]:focus{
    background-color: rgba(119, 136, 153, 0.2);
}

.greenButton{
    padding: 8px;
    border-radius: 20px;
    padding-left: 25px;
    padding-right: 25px;
    border: none;
    background-color: #83CC4A;
    font-family: 'Poppins';
    font-weight: bold;
    cursor: pointer;
}